project_id = "wddlktajnhwhyquwcdgf"

[functions.partner-driver-earnings]
verify_jwt = true

[functions.delivery-dispatcher]
verify_jwt = true

[functions.geocode-proxy]
verify_jwt = false

[functions.push-notifications]
verify_jwt = true

[functions.notification-dispatcher]
verify_jwt = true

[functions.send-sms-notification]
verify_jwt = true
